body {
    background-color: #f7edf0; /*mudar cor de fundo*/
    font-family:'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif; /*mudar fonte*/
    color: #260f26; /*muda a cor do texto*/
}
img {
    width: 100%; /*Mudar a largura da imagem*/
    border-radius: 30px; /*Adiciona borda arredondada*/
    max-width: 100%; /*a largura máxima da imagem é 100% da página*/
}
div.lado-esquerdo {
    width: 50%; /*Define a largura do lado esquerdo como 50%*/
}
div.lado-direito {
    width: 50%; /*Define a largura do lado direito como 50%*/
    display: flex; 
    flex-direction: column;
}
div.conteudo {
    display: flex; /*Define que o 'conteúdo' será flexível*/ 
}
div.lado-direito a {
    text-decoration: none; /*retira o sublinhado padrão dos links*/
    font-size: 25px;
    border: solid #d2b4b6;
    border-radius: 10px; /*Arredonda a borda da imagem*/
    background-color: #eac8ca; /*cor do fundo do botão*/
    width: 50%;
    margin: 10%; /*Adiciona uma margem na parte de fora do botão*/
    padding: 5px; /*Adiciona um espaçamento interno no botão*/
    color:#ffffff; /*cor do texto do botão*/
    text-align: center; /*Centraliza o texto no centro*/
    
}
div.formulario{
    border-radius: 10px;
    border: solid edbfb7;
    color: #260f26;
    font-size: 25px;
    padding:2px;
    margin: 2%;
    
}
button{
    background-color: #eac8ca;
    padding: 10px;
    color:#ffffff;

}

